l<div class="main-container">
    <div class="createForm" >
        <div class="createContainer">
            
            <h1>Update tour</h1><hr>
            <form class="example-form" [formGroup] = "tourForm">
                <div class="row">
                    <mat-form-field class="example-full-width">
                        <mat-label>Tour name</mat-label>
                        <input matInput formControlName = "name">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="example-full-width">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName = "description"></textarea>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="example-full-width">
                        <mat-label>Difficult</mat-label>
                        <select matNativeControl required formControlName = "difficult">
                        <option value="0">Easy</option>
                        <option value="1">Medium</option>
                        <option value="2">Hard</option>
                        </select>
                    </mat-form-field>
                </div>
            
                <div class="row">
                    <mat-form-field class="example-full-width">
                        <mat-label>Tags</mat-label>
                        <mat-select formControlName = "tags" multiple formControlName = "tags">
                        <!-- <mat-option *ngFor="let tag of allTags.sort()" [value]="tag">{{tag}}</mat-option> -->
                        </mat-select>
                    </mat-form-field>
                </div>
                
                <div class="buttons">
                    <button mat-raised-button color="primary" type="submit" class="submitContainer" >Save</button>
                    
                </div>
                    
                
                
                
                
            </form>
        </div>

    </div>
    

</div>